# Default owners
* @DataDog/apm-php

# Profiling team
/profiling/ @DataDog/profiling-php

# ASM Team
/appsec/ @DataDog/asm-php

# APM libdatadog
/components-rs/ @Datadog/libdatadog-apm
compile_rust.sh @Datadog/libdatadog-apm

# APM IDM Team
/src/ @DataDog/apm-idm-php

# Release files
Cargo.lock @DataDog/apm-php @DataDog/profiling-php @Datadog/libdatadog-apm
package.xml @DataDog/apm-php @DataDog/profiling-php @Datadog/asm-php
VERSION @DataDog/apm-php @DataDog/profiling-php @Datadog/asm-php
