# Default owners
* @DataDog/apm-php

# Profiling team
/profiling/ @DataDog/profiling-php

# ASM Team
/appsec/ @DataDog/asm-php

# Release files
Cargo.lock @DataDog/apm-php @DataDog/profiling-php
package.xml @DataDog/apm-php @DataDog/profiling-php @Datadog/asm-php
VERSION @DataDog/apm-php @DataDog/profiling-php @Datadog/asm-php
