/Makefile
/Makefile.objects
/Makefile.fragments
/aclocal.m4
/autom4te.cache/
/build/
/config.cache
/config.h
/config.h.in
/config.log
/config.nice
/config.status
/configure
/configure.ac
/libtool
/ltmain.sh
/modules/
/target/
