root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,h}]
indent_size = none

[*.{yml,yaml}]
indent_size = 2

[Dockerfile]
indent_size = 2

[*.php]
block_comment_start = /*
block_comment = *
block_comment_end = */
indent_size = 4

[*Makefile]
indent_style = tab

[CMakeLists.txt]
indent_size = 2
block_comment_start = #[[
block_comment_end = #]]
