root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true

[*.{c,h}]
indent_size = none

[*.{yml,yaml}]
indent_size = 2

[*.json]
indent_size = 4

[Dockerfile]
indent_size = 2

[*.php]
block_comment_start = /*
block_comment = *
block_comment_end = */
indent_size = 4

[{*Makefile,.gitmodules}]
indent_style = tab

[CMakeLists.txt]
indent_size = 2
block_comment_start = #[[
block_comment_end = #]]

[*.cs]
dotnet_style_qualification_for_field = false:warning
dotnet_style_qualification_for_property = false:warning
dotnet_style_qualification_for_method = false:warning
dotnet_style_qualification_for_event = false:warning
dotnet_style_require_accessibility_modifiers = never:warning

csharp_style_expression_bodied_methods = true:silent
csharp_style_expression_bodied_properties = true:warning
csharp_style_expression_bodied_indexers = true:warning
csharp_style_expression_bodied_accessors = true:warning
