[submodule "libdatadog"]
	path = libdatadog
	url = https://github.com/DataDog/libdatadog
	branch = main
[submodule "tea/benchmarks/google-benchmark"]
	path = tea/benchmarks/google-benchmark
	url = https://github.com/google/benchmark.git
[submodule "appsec/third_party/libddwaf-rust"]
	path = appsec/third_party/libddwaf-rust
	url = https://github.com/DataDog/libddwaf-rust.git
	branch = glopes/v2
[submodule "tests/FeatureFlags/ffe-system-test-data"]
	path = tests/FeatureFlags/ffe-system-test-data
	url = https://github.com/DataDog/ffe-system-test-data
