[submodule "libdatadog"]
	path = libdatadog
	url = https://github.com/natepage/libdatadog
	branch = pagey/sidecare-on-aws-lambda-poc
[submodule "appsec/third_party/cpp-base64"]
	path = appsec/third_party/cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64
[submodule "appsec/third_party/msgpack-c"]
	path = appsec/third_party/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
[submodule "appsec/third_party/libddwaf"]
	path = appsec/third_party/libddwaf
	url = https://github.com/DataDog/libddwaf.git
[submodule "tea/benchmarks/google-benchmark"]
	path = tea/benchmarks/google-benchmark
	url = https://github.com/google/benchmark.git
