**/vendor/
composer.lock
.scenarios.lock/
.vscode/
.libs
.deps
Makefile*
acinclude.m4
aclocal.m4
autom4te*
build
configure
/configure.*
/config.*
*.la
*.lo
*.o
*.so
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules/*
php_test_results*
run-tests.php
tests/ext/*.php
tests/ext/*.out
tests/ext/*.diff
tests/ext/*.log
tests/ext/*.exp
tests/ext/*.sh
tests/ext/*.log
tests/ext/*.mem
tmp-php.ini
tmp/opcache*
