tests               export-ignore
.editorconfig       export-ignore
.gitattributes      export-ignore
.gitignore          export-ignore
.phpcs.xml          export-ignore
CONTRIBUTING.md     export-ignore
phpunit.xml         export-ignore
RELEASING.md        export-ignore

# ext/ddtrace
.circleci           export-ignore
.clang-format       export-ignore
src/ext/mpack/*     linguist-generated=true
src/ext/third-party/*     linguist-generated=true
src/ext/vendor_stdatomic.h     linguist-generated=true
