**/vendor
tmp/build_extension/
composer.lock
core
.scenarios.lock/
.vscode/
.libs
.deps
.phpunit.result.cache
**.code-workspace
/Makefile*
acinclude.m4
aclocal.m4
autom4te*
build
configure
/configure.*
/config.*
*.la
*.lo
*.o
*.so
install-sh
*.log
nginx.pid
tests/Frameworks/**/*.log
libtool
ltmain.sh
missing
mkinstalldirs
modules/*
php_test_results*
run-tests.php
tests/ext/*.php
tests/ext/*.out
tests/ext/*.diff
tests/ext/*.log
tests/ext/*.exp
tests/ext/*.sh
tests/ext/*.log
tests/ext/*.mem
tmp-php.ini
tmp/opcache*
*.orig
docker-compose.override.yml
