tests               export-ignore
dockerfiles         export-ignore
.editorconfig       export-ignore
.gitattributes      export-ignore
.gitignore          export-ignore
phpcs.xml          export-ignore
CONTRIBUTING.md     export-ignore
phpunit.xml         export-ignore
RELEASING.md        export-ignore

# ext/ddtrace
.circleci           export-ignore
.clang-format       export-ignore
ext/vendor/*        linguist-generated=true
