[workspace]
# Temporarily restrict workspace to profiling to avoid dual libdatadog copies during migration.
# TODO: restore other members after all crates point to the same libdatadog.
members = ["profiling"]
resolver = "2"

[workspace.package]
rust-version = "1.84.1"
edition = "2021"
# Irrelevant version and license. These do NOT apply here, they just are here to make cargo build pass.
version = "0.0.1"
license = "Apache-2.0"

[profile.dev]
debug = 2 # full debug info

[profile.release]
codegen-units = 1
debug = "line-tables-only"
incremental = false
lto = "fat"

[profile.tracer-release]
debug = 1 # line tables only
lto = true
codegen-units = 1
panic = "abort"
inherits = "release"
