version: '3.6'

x-aliases:
  - &base_php_service
      ulimits:
        core: 99999999999
      working_dir: '/home/circleci/app'
      stdin_open: true
      tty: true
      volumes:
        - .:/home/circleci/app
        - .composer:/home/circleci/.composer
        - .scenarios.lock:/home/circleci/app/.scenarios.lock
      tmpfs: [ '/home/circleci/app/tmp:uid=3434,gid=3434,exec', '/home/circleci/app/tests/vendor:uid=3434,gid=3434,exec' ]
      depends_on:
        - agent
        - ddagent_integration
        - request-replayer
        - elasticsearch2_integration
        - httpbin_integration
        - redis_integration
        - mongodb_integration
        - mysql_integration
        - memcached_integration
      environment:
        - REDIS_HOSTNAME=redis_integration
        - DDAGENT_HOSTNAME=ddagent_integration
        - HTTPBIN_HOSTNAME=httpbin_integration
        - COMPOSER_MEMORY_LIMIT=-1
        - PHP_IDE_CONFIG=serverName=docker
        - DD_TRACE_DOCKER_DEBUG
      cap_add:
        - SYS_PTRACE
      security_opt:
        - seccomp:unconfined
      # Privileged is requires to run some pcntl tests locally.
      # privileged: true

services:
  # --- Alpine (Legacy) ---
  '5.4-alpine': { <<: *base_php_service, image: 'datadog/docker-library:ddtrace_alpine_php-5.4-debug' }
  '5.5-alpine': { <<: *base_php_service, image: 'datadog/docker-library:ddtrace_alpine_php-5.5-debug' }
  '5.6-alpine': { <<: *base_php_service, image: 'datadog/docker-library:ddtrace_alpine_php-5.6-debug' }
  '7.0-alpine': { <<: *base_php_service, image: 'datadog/docker-library:ddtrace_alpine_php-7.0-debug' }
  '7.1-alpine': { <<: *base_php_service, image: 'datadog/docker-library:ddtrace_alpine_php-7.1-debug' }
  '7.2-alpine': { <<: *base_php_service, image: 'datadog/docker-library:ddtrace_alpine_php-7.2-debug' }
  '7.3-alpine': { <<: *base_php_service, image: 'datadog/docker-library:ddtrace_alpine_php-7.3-debug' }
  '7.4-alpine': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-7.4-debug-alpine-3.11' }
  # --- Alpine ---
  '8.0-alpine': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-8.0_alpine' }
  # --- Buster ---
  '5.4-buster': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-5.4_buster' }
  '5.4-buster-shared-ext': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-5.4-shared-ext' }
  '5.5-buster': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-5.5_buster' }
  '5.6-buster': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-5.6_buster' }
  '7.0-buster': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-7.0_buster' }
  '7.1-buster': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-7.1_buster' }
  '7.2-buster': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-7.2_buster' }
  '7.3-buster': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-7.3_buster' }
  '7.4-buster': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-7.4_buster' }
  '7.4-buster-shared-ext': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-7.4-shared-ext' }
  '8.0-buster': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-8.0_buster' }
  '8.0-buster-shared-ext': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-8.0-shared-ext' }
  '8.1-buster': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-8.1_buster' }
  'php-master-buster': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-master_buster' }
  # --- CentOS 6 ---
  '5.4-centos6': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-5.4_centos-6' }
  '5.5-centos6': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-5.5_centos-6' }
  '5.6-centos6': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-5.6_centos-6' }
  '7.0-centos6': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-7.0_centos-6' }
  '7.1-centos6': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-7.1_centos-6' }
  '7.2-centos6': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-7.2_centos-6' }
  '7.3-centos6': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-7.3_centos-6' }
  '7.4-centos6': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-7.4_centos-6' }
  '8.0-centos6': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-8.0_centos-6' }
  '8.1-centos6': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-8.1_centos-6' }

  mysql_integration:
    image: datadog/dd-trace-ci:php-mysql-dev-5.6
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=test
      - MYSQL_PASSWORD=test
      - MYSQL_USER=test
      - MYSQL_DATABASE=test

  elasticsearch2_integration:
    image: "elasticsearch:2"

  mongodb_integration:
    image: "circleci/mongo:4.0"
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=test
      - MONGO_INITDB_ROOT_PASSWORD=test

  redis_integration:
    image: "datadog/dd-trace-ci:php-redis-5.0"

  memcached_integration:
    image: "memcached:1.5-alpine"

  httpbin_integration:
    image: kennethreitz/httpbin
    ports:
      - "8765:80"

  ddagent_integration:
    image: datadog/agent:latest
    healthcheck:
      test: ["CMD", "curl", "-f", "-X", "HEAD", "http://localhost:8126"]
      interval: 10s
      timeout: 2s
      retries: 2
    environment:
      - DD_APM_ENABLED=true
      - DD_BIND_HOST=0.0.0.0
      - DD_API_KEY=invalid_key_but_its_ok
    ports:
      - "8126:8126"

  request-replayer:
    image: datadog/dd-trace-ci:php-request-replayer-1.0
    ports:
      - "8766:80"

  agent:
    image: datadog/agent:latest
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock:ro
    - /proc/:/host/proc/:ro
    - /sys/fs/cgroup/:/host/sys/fs/cgroup:ro
    environment:
    - DD_API_KEY=${DATADOG_API_KEY}
    - DD_APM_ENABLED=true
    - DD_DOGSTATSD_NON_LOCAL_TRAFFIC=1

  packager:
    image: datadog/docker-library:ddtrace_php_fpm_packaging
    working_dir: /app
    volumes:
      - .:/app
