version: '3.6'

x-aliases:
  - &base_php_service
      ulimits:
        core: 99999999999
      working_dir: '/home/circleci/app'
      stdin_open: true
      tty: true
      volumes:
        - .:/home/circleci/app
        - .composer:/home/circleci/.composer
        - .scenarios.lock:/home/circleci/app/.scenarios.lock
      tmpfs: [ '/home/circleci/app/tmp:uid=3434,gid=3434,exec' ]
      depends_on:
        - ddagent_integration
        - request-replayer
        - elasticsearch2_integration
        - httpbin_integration
        - redis_integration
        - mongodb_integration
        - mysql_integration
        - memcached_integration
      environment:
        - REDIS_HOSTNAME=redis_integration
        - DDAGENT_HOSTNAME=ddagent_integration
        - COMPOSER_MEMORY_LIMIT=-1
      cap_add:
        - SYS_PTRACE
  - &base_54_service
      <<: *base_php_service
      volumes:
        - .:/home/circleci/app
        - ./tmp/docker/54/vendor:/home/circleci/app/vendor
        - .composer:/home/circleci/.composer
        - .scenarios.lock:/home/circleci/app/.scenarios.lock
  - &base_56_service
      <<: *base_php_service
      volumes:
        - .:/home/circleci/app
        - ./tmp/docker/56/vendor:/home/circleci/app/vendor
        - .composer:/home/circleci/.composer
        - .scenarios.lock:/home/circleci/app/.scenarios.lock

services:
  '5.4': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-dev-5.4' }
  '5.4-debug': { <<: *base_php_service, image: 'datadog/docker-library:ddtrace_alpine_php-5.4-debug' }
  '5.5': { <<: *base_php_service, image: 'datadog/docker-library:ddtrace_alpine_php-5.5' }
  '5.5-debug': { <<: *base_php_service, image: 'datadog/docker-library:ddtrace_alpine_php-5.5-debug' }
  '5.6': { <<: *base_56_service, image: 'datadog/dd-trace-ci:php-dev-5.6' }
  '5.6-original': { <<: *base_56_service, image: 'circleci/php:5.6-zts' }
  '5.6-debug': { <<: *base_php_service, image: 'datadog/docker-library:ddtrace_alpine_php-5.6-debug' }
  '5.6-zts': { <<: *base_56_service, image: 'datadog/docker-library:ddtrace_alpine_php-5.6-zts' }
  '7.0': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-dev-7.0' }
  '7.0-centos': { <<: *base_php_service, image: 'datadog/docker-library:ddtrace_centos_6_php_7_0' }
  '7.0-debug': { <<: *base_php_service, image: 'datadog/docker-library:ddtrace_alpine_php-7.0-debug' }
  '7.0-zts': { <<: *base_php_service, image: 'datadog/docker-library:ddtrace_alpine_php-7.0-zts' }
  '7.1': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-dev-7.1' }
  '7.1-debug': { <<: *base_php_service, image: 'datadog/docker-library:ddtrace_alpine_php-7.1-debug' }
  '7.1-zts': { <<: *base_php_service, image: 'datadog/docker-library:ddtrace_alpine_php-7.1-zts' }
  '7.1-centos6': { <<: *base_php_service, image: 'datadog/docker-library:ddtrace_centos_6_php_7_1' }
  '7.1-centos-compiled': { <<: *base_php_service, build: 'dockerfiles/verify_packages/centos7-compiled' }
  '7.2': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-dev-7.2' }
  '7.2-debug': { <<: *base_php_service, image: 'datadog/docker-library:ddtrace_alpine_php-7.2-debug' }
  '7.2-zts': { <<: *base_php_service, image: 'datadog/docker-library:ddtrace_alpine_php-7.2-zts' }
  '7.3': { <<: *base_php_service, image: 'datadog/dd-trace-ci:php-dev-7.3' }
  '7.3-debug': { <<: *base_php_service, image: 'datadog/docker-library:ddtrace_alpine_php-7.3-debug' }
  '7.3-zts-debug': { <<: *base_php_service, image: 'datadog/docker-library:ddtrace_alpine_php-7.3-zts-debug' }
  '7.3-zts': { <<: *base_php_service, image: 'datadog/docker-library:ddtrace_alpine_php-7.3-zts' }
  '7.4-debug-asan': { <<: *base_php_service, image: 'datadog/dd-trace-php:7.4-buster-debug-asan' }
  'ubuntu-16.04-7.1': { <<: *base_php_service, build: 'dockerfiles/ubuntu-16.04-php-7.1' }
  'ubuntu-18.04-7.2': { <<: *base_php_service, build: 'dockerfiles/ubuntu-18.04-php-7.2' }
  'fpm': { <<: *base_php_service, image: 'circleci/ruby:2.5', depends_on: [] }

  mysql_integration:
    image: datadog/dd-trace-ci:php-mysql-dev-5.6
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=test
      - MYSQL_PASSWORD=test
      - MYSQL_USER=test
      - MYSQL_DATABASE=test

  elasticsearch2_integration:
    image: "elasticsearch:2"

  mongodb_integration:
    image: "circleci/mongo:4.0"
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=test
      - MONGO_INITDB_ROOT_PASSWORD=test

  redis_integration:
    image: "circleci/redis:4.0-alpine"

  memcached_integration:
    image: "memcached:1.5-alpine"

  httpbin_integration:
    image: kennethreitz/httpbin
    ports:
      - "8099:80"

  ddagent_integration:
    image: datadog/agent:latest
    healthcheck:
      test: ["CMD", "curl", "-f", "-X", "HEAD", "http://localhost:8126"]
      interval: 10s
      timeout: 2s
      retries: 2
    environment:
      - DD_APM_ENABLED=true
      - DD_BIND_HOST=0.0.0.0
      - DD_API_KEY=invalid_key_but_its_ok
    ports:
      - "8126:8126"

  request-replayer:
    image: datadog/dd-trace-ci:php-request-replayer

  agent:
    image: datadog/agent:latest
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock:ro
    - /proc/:/host/proc/:ro
    - /sys/fs/cgroup/:/host/sys/fs/cgroup:ro
    environment:
    - DD_API_KEY=${DATADOG_API_KEY}
    - DD_APM_ENABLED=true

  apache_56_server:
    build:
      context: .
      dockerfile: tests/dockerfiles/Dockerfile_php56_apache
    ports:
      - 4134:80
    environment:
      APACHE_RUN_DIR: /var/run/apache2
      APACHE_RUN_USER: www-data
      APACHE_RUN_GROUP: www-data
      APACHE_LOG_DIR: /var/log/apache2
      DD_TRACE_DEBUG: 'true'
      DD_AGENT_HOST: agent
    depends_on:
      - agent
    volumes:
      - ./tests/Frameworks:/var/www
      - ./tests/dockerfiles/symfony_34_virtualhost.conf:/etc/apache2/sites-available/000-default.conf
      - ./:/var/dd-trace-php
