parameters:
	ignoreErrors:
		-
			message: '#Method DDTrace\\Propagators\\CurlHeadersMap::extract\(\) should return DDTrace\\Contracts\\SpanContext but return statement is missing\.#'
			path: src/DDTrace/Propagators/CurlHeadersMap.php
	autoload_files:
		- bridge/configuration.php
	excludes_analyse:
		- src/DDTrace/Bootstrap.php
		- src/DDTrace/Util/CodeTracer.php
		- src/DDTrace/Integrations
		- src/DDTrace/OpenTracer
		- src/dd-doctor.php
		# Temporarily disabling as it uses \OpenTracing\GlobalTracer.php
		- src/DDTrace/GlobalTracer.php
