version: '3.7'

services:

  base-alpine:
    image: datadog/dd-trace-ci:php-compile-extension-alpine
    build:
      context: .
      dockerfile: base.Dockerfile
      x-bake: &bake
        platforms:
          - linux/arm64
          - linux/amd64
    volumes:
        - ../../:/app

  7.0-alpine:
    image: datadog/dd-trace-ci:php-compile-extension-alpine-7.0
    build:
      context: .
      x-bake: *bake
      args:
        php_version: 7.0.33
        php_sha: d71a6ecb6b13dc53fed7532a7f8f949c4044806f067502f8fb6f9facbb40452a
        php_api: 20151012
    volumes:
        - ../../:/app

  7.1-alpine:
    image: datadog/dd-trace-ci:php-compile-extension-alpine-7.1
    build:
      context: .
      x-bake: *bake
      args:
        php_version: 7.1.33
        php_sha: 0055f368ffefe51d5a4483755bd17475e88e74302c08b727952831c5b2682ea2
        php_api: 20160303
    volumes:
        - ../../:/app

  7.2-alpine:
    image: datadog/dd-trace-ci:php-compile-extension-alpine-7.2
    build:
      context: .
      x-bake: *bake
      args:
        php_version: 7.2.34
        php_sha: 8b2777c741e83f188d3ca6d8e98ece7264acafee86787298fae57e05d0dddc78
        php_api: 20170718
    volumes:
        - ../../:/app

  7.3-alpine:
    image: datadog/dd-trace-ci:php-compile-extension-alpine-7.3
    build:
      context: .
      x-bake: *bake
      args:
        php_version: 7.3.33
        php_sha: 9a369c32c6f52036b0a890f290327f148a1904ee66aa56e2c9a7546da6525ec8
        php_api: 20180731
    volumes:
        - ../../:/app

  7.4-alpine:
    image: datadog/dd-trace-ci:php-compile-extension-alpine-7.4
    build:
      context: .
      x-bake: *bake
      args:
        php_version: 7.4.33
        php_sha: 5a2337996f07c8a097e03d46263b5c98d2c8e355227756351421003bea8f463e
        php_api: 20190902
    volumes:
        - ../../:/app

  8.0-alpine:
    image: datadog/dd-trace-ci:php-compile-extension-alpine-8.0
    build:
      context: .
      x-bake: *bake
      args:
        php_version: 8.0.30
        php_sha: 449d2048fcb20a314d8c218097c6d1047a9f1c5bb72aa54d5d3eba0a27a4c80c
        php_api: 20200930
    volumes:
      - ../../:/app

  8.1-alpine:
    image: datadog/dd-trace-ci:php-compile-extension-alpine-8.1
    build:
      context: .
      x-bake: *bake
      args:
        php_version: 8.1.29
        php_sha: 8b2609bf1d3173aa38269a9af21532c65f730aadd3051f9aae011eea9e246de5
        php_api: 20210902
    volumes:
      - ../../:/app

  8.2-alpine:
    image: datadog/dd-trace-ci:php-compile-extension-alpine-8.2
    build:
      context: .
      x-bake: *bake
      args:
        php_version: 8.2.21
        php_sha: 0c6323699309a4d2e71057f01bc071b199f240973c349287b667a3ab36a496c6
        php_api: 20220829
    volumes:
      - ../../:/app

  8.3-alpine:
    image: datadog/dd-trace-ci:php-compile-extension-alpine-8.3
    build:
      context: .
      x-bake: *bake
      args:
        php_version: 8.3.9
        php_sha: f484dec6ee005c83f899af02fc021e1bc3b1d7b3f143ca062ef66b0fcee96566
        php_api: 20230831
    volumes:
      - ../../:/app

  8.4-alpine:
    image: datadog/dd-trace-ci:php-compile-extension-alpine-8.4
    build:
      context: .
      x-bake: *bake
      args:
        php_version: 8.4.0
        php_url: https://downloads.php.net/~saki/php-8.4.0RC1.tar.gz
        php_sha: ff924ce24493cd546c7227c2cedf75c32d23815b0a6e5c1658d9b005837631ff
        php_api: 20240924
    volumes:
      - ../../:/app
