version: '3.7'

services:

  base-alpine:
    image: datadog/dd-trace-ci:php-compile-extension-alpine
    build:
      context: .
      dockerfile: base.Dockerfile
      x-bake: &bake
        platforms:
          - linux/arm64
          - linux/amd64
    volumes:
        - ../../:/app

  7.0-alpine:
    image: datadog/dd-trace-ci:php-compile-extension-alpine-7.0
    build:
      context: .
      x-bake: *bake
      args:
        phpVersion: 7.0.33
        phpSha256Hash: d71a6ecb6b13dc53fed7532a7f8f949c4044806f067502f8fb6f9facbb40452a
        phpApi: 20151012
    volumes:
        - ../../:/app

  7.1-alpine:
    image: datadog/dd-trace-ci:php-compile-extension-alpine-7.1
    build:
      context: .
      x-bake: *bake
      args:
        phpVersion: 7.1.33
        phpSha256Hash: 0055f368ffefe51d5a4483755bd17475e88e74302c08b727952831c5b2682ea2
        phpApi: 20160303
    volumes:
        - ../../:/app

  7.2-alpine:
    image: datadog/dd-trace-ci:php-compile-extension-alpine-7.2
    build:
      context: .
      x-bake: *bake
      args:
        phpVersion: 7.2.34
        phpSha256Hash: 8b2777c741e83f188d3ca6d8e98ece7264acafee86787298fae57e05d0dddc78
        phpApi: 20170718
    volumes:
        - ../../:/app

  7.3-alpine:
    image: datadog/dd-trace-ci:php-compile-extension-alpine-7.3
    build:
      context: .
      x-bake: *bake
      args:
        phpVersion: 7.3.33
        phpSha256Hash: 9a369c32c6f52036b0a890f290327f148a1904ee66aa56e2c9a7546da6525ec8
        phpApi: 20180731
    volumes:
        - ../../:/app

  7.4-alpine:
    image: datadog/dd-trace-ci:php-compile-extension-alpine-7.4
    build:
      context: .
      x-bake: *bake
      args:
        phpVersion: 7.4.33
        phpSha256Hash: 5a2337996f07c8a097e03d46263b5c98d2c8e355227756351421003bea8f463e
        phpApi: 20190902
    volumes:
        - ../../:/app

  8.0-alpine:
    image: datadog/dd-trace-ci:php-compile-extension-alpine-8.0
    build:
      context: .
      x-bake: *bake
      args:
        phpVersion: 8.0.30
        phpSha256Hash: 449d2048fcb20a314d8c218097c6d1047a9f1c5bb72aa54d5d3eba0a27a4c80c
        phpApi: 20200930
    volumes:
      - ../../:/app

  8.1-alpine:
    image: datadog/dd-trace-ci:php-compile-extension-alpine-8.1
    build:
      context: .
      x-bake: *bake
      args:
        phpVersion: 8.1.31
        phpSha256Hash: 618923b407c4575bfee085f00c4aaa16a5cc86d4b1eb893c0f352d61541bbfb1
        phpApi: 20210902
    volumes:
      - ../../:/app

  8.2-alpine:
    image: datadog/dd-trace-ci:php-compile-extension-alpine-8.2
    build:
      context: .
      x-bake: *bake
      args:
        phpVersion: 8.2.26
        phpSha256Hash: 04e47b46b347ed6404dcc9e9989486710b075eafc8490500fd271aeeac5d83cb
        phpApi: 20220829
    volumes:
      - ../../:/app

  8.3-alpine:
    image: datadog/dd-trace-ci:php-compile-extension-alpine-8.3
    build:
      context: .
      x-bake: *bake
      args:
        phpVersion: 8.3.14
        phpSha256Hash: e4ee602c31e2f701c9f0209a2902dd4802727431246a9155bf56dda7bcf7fb4a
        phpApi: 20230831
    volumes:
      - ../../:/app

  8.4-alpine:
    image: datadog/dd-trace-ci:php-compile-extension-alpine-8.4
    build:
      context: .
      x-bake: *bake
      args:
        phpVersion: 8.4.1
        phpSha256Hash: c3d1ce4157463ea43004289c01172deb54ce9c5894d8722f4e805461bf9feaec
        phpApi: 20240924
    volumes:
      - ../../:/app

  8.5-alpine:
    image: datadog/dd-trace-ci:php-compile-extension-alpine-8.5
    build:
      context: .
      x-bake: *bake
      args:
        phpVersion: 8.5.0
        phpSha256Hash: d28f6de0744fa733db898ddcdeaa784a5e87ec1b4b4822e83529d9a76229ea61
        phpApi: 20240925
    volumes:
      - ../../:/app
