<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutResourceUsageDuringSmallTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutTodoAnnotatedTests="true"
    bootstrap="./bootstrap_phpunit.php"
    colors="true"
    columns="max"
    verbose="true"
>
    <testsuites>
        <testsuite name="metrics">
            <directory>./Metrics</directory>
        </testsuite>
        <testsuite name="auto-instrumentation">
            <directory>./AutoInstrumentation/</directory>
        </testsuite>
        <testsuite name="distributed-tracing">
            <directory>./DistributedTracing/</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>./Integration/</directory>
        </testsuite>
        <testsuite name="cakephp-28-test">
            <directory>./Integrations/CakePHP/V2_8</directory>
            <directory>./Integrations/CLI/CakePHP/V2_8</directory>
        </testsuite>
        <testsuite name="cakephp-310-test">
            <directory>./Integrations/CakePHP/V3_10</directory>
            <directory>./Integrations/CLI/CakePHP/V3_10</directory>
        </testsuite>
        <testsuite name="cakephp-45-test">
            <directory>./Integrations/CakePHP/V4_5</directory>
            <directory>./Integrations/CLI/CakePHP/V4_5</directory>
        </testsuite>
        <testsuite name="cakephp-50-test">
            <directory>./Integrations/CakePHP/V5_0</directory>
            <directory>./Integrations/CLI/CakePHP/V5_0</directory>
        </testsuite>
        <testsuite name="codeigniter-22-test">
            <directory>./Integrations/CodeIgniter/V2_2</directory>
        </testsuite>
        <testsuite name="codeigniter-31-test">
            <directory>./Integrations/CodeIgniter/V3_1</directory>
        </testsuite>
        <testsuite name="composer-tests">
            <directory>./Composer</directory>
        </testsuite>
        <testsuite name="laravel-58-test">
            <directory>./Integrations/Laravel/V5_8</directory>
            <directory>./Integrations/CLI/Laravel/V5_8</directory>
        </testsuite>
        <testsuite name="laravel-8x-test">
            <directory>./Integrations/Laravel/V8_x</directory>
            <directory>./Integrations/CLI/Laravel/V8_X</directory>
        </testsuite>
        <testsuite name="laravel-9x-test">
            <directory>./Integrations/Laravel/V9_x</directory>
            <directory>./Integrations/CLI/Laravel/V9_X</directory>
        </testsuite>
        <testsuite name="laravel-10x-test">
            <directory>./Integrations/Laravel/V10_x</directory>
            <directory>./Integrations/CLI/Laravel/V10_X</directory>
        </testsuite>
        <testsuite name="laravel-11x-test">
            <directory>./Integrations/Laravel/V11_x</directory>
            <directory>./Integrations/CLI/Laravel/V11_X</directory>
        </testsuite>
        <testsuite name="laravel-octane-test">
            <directory>./Integrations/Laravel/Octane</directory>
        </testsuite>
        <testsuite name="opentelemetry1">
            <directory>./OpenTelemetry/Unit/API</directory>
            <directory>./OpenTelemetry/Unit/Context</directory>
            <directory>./OpenTelemetry/Unit/Propagation</directory>
            <directory>./OpenTelemetry/Integration/API</directory>
            <directory phpVersion="8.1.0" phpVersionOperator="&gt;=">./OpenTelemetry/Integration/Context</directory>
            <directory>./OpenTelemetry/Integration/Logs</directory>
            <directory>./OpenTelemetry/Integration/SDK</directory>
            <file>./OpenTelemetry/Integration/InteroperabilityTest.php</file>
            <file>./OpenTelemetry/Integration/InternalTelemetryTest.php</file>
        </testsuite>
        <testsuite name="slim-312-test">
            <directory>./Integrations/Slim/V3_12</directory>
        </testsuite>
        <testsuite name="slim-4-test">
            <directory>./Integrations/Slim/V4</directory>
        </testsuite>
        <testsuite name="frankenphp-test">
            <directory>./Integrations/Frankenphp</directory>
        </testsuite>
        <testsuite name="swoole-test">
            <directory>./Integrations/Swoole</directory>
        </testsuite>
        <testsuite name="symfony-44-test">
            <directory>./Integrations/Symfony/V4_4</directory>
            <directory>./Integrations/CLI/Symfony/V4_4</directory>
        </testsuite>
        <testsuite name="symfony-52-test">
            <directory>./Integrations/Symfony/V5_2</directory>
            <directory>./Integrations/CLI/Symfony/V5_2</directory>
        </testsuite>
        <testsuite name="symfony-62-test">
            <directory>./Integrations/Symfony/V6_2</directory>
            <directory>./Integrations/CLI/Symfony/V6_2</directory>
        </testsuite>
        <testsuite name="symfony-70-test">
            <directory>./Integrations/Symfony/V7_0</directory>
            <directory>./Integrations/CLI/Symfony/V7_0</directory>
        </testsuite>
        <testsuite name="custom-framework-autoloading-test">
            <directory>./Integrations/Custom/Autoloaded</directory>
            <directory>./Integrations/Custom/NotAutoloaded</directory>
            <directory>./Integrations/CLI/Custom/Autoloaded</directory>
            <directory>./Integrations/CLI/Custom/NotAutoloaded</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>./Unit/</directory>
            <exclude>Unit/Util/OrphansTest.php</exclude>
        </testsuite>
    </testsuites>

    <coverage includeUncoveredFiles="false">
        <include>
            <directory suffix=".php">../src/</directory>
        </include>
        <exclude>
            <directory>../src/dogstatsd</directory>
        </exclude>
    </coverage>
</phpunit>
