*/ linguist-generated
.*/ linguist-generated
* linguist-generated
*.* linguist-generated
* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
