** linguist-generated
.gitattributes -linguist-generated
docker-compose.yml -linguist-generated
scripts/** -linguist-generated
wp-content/plugins/datadog/** -linguist-generated
README.md -linguist-generated
