<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="Integration">
            <directory>./app/tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="LARAVEL_VERSION" value="Version_4_2"/>
        <env name="BOOTSTRAP_SCRIPT" value="bootstrap/start.php"/>
    </php>
</phpunit>
