version: '3'

services:
  base:
    image: 'datadog/dd-trace-ci:centos-7'
    build:
      context: .
      dockerfile: base.Dockerfile
      x-bake: &bake
        platforms:
          - linux/arm64
          - linux/amd64

  php-7.0:
    build:
      context: .
      dockerfile: php.Dockerfile
      x-bake: *bake
      args:
        phpVersion: "7.0"
        phpTarGzUrl: https://www.php.net/distributions/php-7.0.33.tar.gz
        phpSha256Hash: d71a6ecb6b13dc53fed7532a7f8f949c4044806f067502f8fb6f9facbb40452a
    image: 'datadog/dd-trace-ci:php-7.0_centos-7'

  php-7.1:
    build:
      context: .
      dockerfile: php.Dockerfile
      x-bake: *bake
      args:
        phpVersion: "7.1"
        phpTarGzUrl: https://www.php.net/distributions/php-7.1.33.tar.gz
        phpSha256Hash: 0055f368ffefe51d5a4483755bd17475e88e74302c08b727952831c5b2682ea2
    image: 'datadog/dd-trace-ci:php-7.1_centos-7'

  php-7.2:
    build:
      context: .
      dockerfile: php.Dockerfile
      x-bake: *bake
      args:
        phpVersion: "7.2"
        phpTarGzUrl: https://www.php.net/distributions/php-7.2.34.tar.gz
        phpSha256Hash: 8b2777c741e83f188d3ca6d8e98ece7264acafee86787298fae57e05d0dddc78
    image: 'datadog/dd-trace-ci:php-7.2_centos-7'

  php-7.3:
    build:
      context: .
      dockerfile: php.Dockerfile
      x-bake: *bake
      args:
        phpVersion: "7.3"
        phpTarGzUrl: https://www.php.net/distributions/php-7.3.33.tar.gz
        phpSha256Hash: 9a369c32c6f52036b0a890f290327f148a1904ee66aa56e2c9a7546da6525ec8
    image: 'datadog/dd-trace-ci:php-7.3_centos-7'

  php-7.4:
    build:
      context: .
      dockerfile: php.Dockerfile
      x-bake: *bake
      args:
        phpVersion: "7.4"
        phpTarGzUrl: https://www.php.net/distributions/php-7.4.33.tar.gz
        phpSha256Hash: 5a2337996f07c8a097e03d46263b5c98d2c8e355227756351421003bea8f463e
    image: 'datadog/dd-trace-ci:php-7.4_centos-7'

  php-8.0:
    build:
      context: .
      dockerfile: php.Dockerfile
      x-bake: *bake
      args:
        phpVersion: "8.0"
        phpTarGzUrl: https://www.php.net/distributions/php-8.0.27.tar.gz
        phpSha256Hash: fe2376faaf91c28ead89a36e118c177f4a8c9a7280a189b97265da1af1f4d305
    image: 'datadog/dd-trace-ci:php-8.0_centos-7'

  php-8.1:
    build:
      context: .
      dockerfile: php.Dockerfile
      x-bake: *bake
      args:
        phpVersion: "8.1"
        phpTarGzUrl: https://www.php.net/distributions/php-8.1.15.tar.gz
        phpSha256Hash: 4035236180efac535ff4f22db9ef3195672f31e3e0aa88f89c38ac0715beca3b
    image: 'datadog/dd-trace-ci:php-8.1_centos-7'

  php-8.2:
    build:
      context: .
      dockerfile: php.Dockerfile
      x-bake: *bake
      args:
        phpVersion: "8.2"
        # Avoiding PHP 8.2.2-8.2.3, which have a crash in fibers:
        # https://github.com/php/php-src/commit/95016138a54b3352a0988878cd71c2ebe7cdeca5
        phpTarGzUrl: https://www.php.net/distributions/php-8.2.1.tar.gz
        phpSha256Hash: 584d2925889a7d388084150865fa238634043f38f2e060c27ffa8ac4d682d5ec
    image: 'datadog/dd-trace-ci:php-8.2_centos-7'
