name: Label PRs

on:
- pull_request

jobs:
  add-labels:

    runs-on: ubuntu-24.04
    permissions:
      contents: read
      issues: write # Update labels on PRs (might not be necessary, but we call the UpdateIssue API so...)
      pull-requests: write # Update labels on PRs

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4.3.1
        with:
          dotnet-version: '7.0.101'

      - name: "Add labels"
        run: ./github-actions-helpers/build.sh AssignLabelsToPullRequest
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          PullRequestNumber: "${{ github.event.pull_request.number }}"
