name: Validate supported configurations

on:
  push:

jobs:
  validate-supported-configurations:
    name: validate supported configurations
    runs-on: ubuntu-24.04
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0
          clean: true

      - name: Verify supported configurations are in sync
        run: |
          bash tooling/generate-supported-configurations.sh

          if ! git diff --exit-code -- metadata/supported-configurations.json ext/configuration.h; then
            echo "ERROR: @metadata/supported-configurations.json got out of sync with implemented configurations. Please run tooling/generate-supported-configurations.sh locally."
            git --no-pager diff -- metadata/supported-configurations.json ext/configuration.h
            exit 1
          fi
